<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>05-11-Html5和iOS的交互.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9F033101EC446B200F0EB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F033291EC446B200F0EB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F033341EC446B200F0EB9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
